apiVersion: v1
kind: Service
metadata:
  name: "{{ item.name }}"
  namespace: "{{ item.namespace }}"
  labels:
    app: "molecule-test-container"
spec:
  clusterIP: None
  selector:
    name: "{{ item.name }}"